body {
	width:500px;
	background:white;
}

.title {
	text-align:center;
	font-weight: 900;
	font-size: 20px;
}

button#convert1 {
	margin: 10px;
}

.content {
	margin:5% 5%; 
	text-align:center;
}

footer {
	text-align: center;
	color: black;
	background-color: #D4D4D4;
	padding: 4px 0;
}